<div class="names">
    <app-title [title]="Pokemon list"></app-title>
  
    <p *ngIf="loading" class="names__message names__message--loading" aria-live="polite">
      <span class="spinner"></span> Loading...
    </p>
  
    <p *ngIf="errorMessage" class="names__message names__message--error" aria-live="assertive">
      ❌ {{ errorMessage }}
    </p>
  
    <ng-container *ngIf="!loading && !errorMessage">
      <div class="names__grid">
        <li *ngFor="let name of names" [name]="name"></li>
      </div>
    </ng-container>
  </div>
  